name: CI Release

# Ce workflow peut être déclenché manuellement pour une release
on:
  workflow_dispatch:

jobs:
  
  frontend_release:
    name: Frontend Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build React app
        run: npm run build
        working-directory: ./frontend

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v3
        with:
          name: frontend-build
          path: ./frontend/build

  backend_release:
    name: Backend Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore backend dependencies
        run: dotnet restore
        working-directory: ./backend

      - name: Publish backend
        run: dotnet publish ./parkndeployDoumi.csproj -c Release -o ./publish
        working-directory: ./backend

      - name: Upload backend artifact
        uses: actions/upload-artifact@v3
        with:
          name: backend-build
          path: ./backend/publish

